 /* PRODUTO */

 #imagens {
   width: 500px;
   border-radius: 2%;
   height: 400px;
 }

 .baseProd {
   height: 80%;
   background-color: rgb(241, 241, 241);
   border-radius: 1.5%;
   border: 1px;
   border-style: ridge;

 }


 #nomeProduto {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
 }

 #largComp {
   width: 340px;
 }



 /* FIM PRODUTO */


 /* nav */
 .search-box input {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: normal;
 }

 /* fim nav */


 /* lista */


 #card {
   height: 360px;
   margin: 10px;
   border-radius: 2%;

 }

 .base {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   border-style: ridge 1px;
   background-color: rgb(241, 241, 241);
   border-radius: 1.5%;
 }

 #indexProduto {
   max-width: 310px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 #imgCard {
   min-height: 200px;
   max-height: 200px;

 }

 #ordem select {
   width: 100px;
 }

 #ordem label {
   margin-right: 5px;
 }

 /* fim lista */

 /* Edit */
 .imagemEdit img{
  width: 100px;
 }

 .imagemEdit button{
  height: 35px;
 }
 