{% extends 'base.html' %}

{% block content %}
<h1 id="titulo" class="text-center">{% block title %}Gestor{% endblock %}</h1>
<form action="{{ url_for('order') }}" method="POST">
    <div class="form-group d-flex justify-content-end align-items-end" id="ordem">
        <label for="ordem">Ordenar por:</label>
        <select name="ordem" value="{{ request.form['ordem'] }}" class="form-control" required>
            <option value="" disabled selected> Selecione</option>
            <option value="ASC">Menor preço</option>
            <option value="DESC">Maior preço</option>
        </select>
        <button type="submit" class="btn btn-light border-secondary">+</button>
    </div>
</form>
<div class="base">
    {% for produto in produtos %}

    <div class="w-25">
        <div class="card " id="card">
            <a href="{{ url_for('produto', produto_id=produto['id']) }}">
                <img src="/static/images/{{ produto['anexos'] }}" id="imgCard" class="card-img-top"
                    alt="" />
                <div class="card-body">
                    <div class="text-center">
                        <h5 class="card-title" id="indexProduto">{{ produto['produto'] }} </h5>
            </a>
            <p class="text-muted mb-4">Em estoque: {{produto['estoqueLoja']}} UN</p>
        </div>
        <div class="d-flex justify-content-between total font-weight-bold mt-4">
            <span>Total</span><span>R${{ produto['preco'] }}</span>
            <a href="{{ url_for('edit', id=produto['id']) }}">
                <span class="badge badge-secondary">Editar</span>
            </a>
        </div>
    </div>
</div>
</div>


{% endfor %}
</div>

</div>


{% endblock %}